<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目列表</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告--2.5.51 assets/-->
    <script src="${STATIC_URL}assets/vue-2.5.21/vue.development.js"></script>
    <!-- 生产环境版 本，优化了尺寸和速度 功能完善后请将vue.development.js该为vue.js-->
    <!--<script src="assets/vue-2.5.21/vue.js"></script>-->
    <!-- element UI引入样式 -->
    <link href="${STATIC_URL}assets/element-2.4.11/index.css" rel="stylesheet">
    <!-- element UI引入组件库 -->
    <script src="${STATIC_URL}assets/element-2.4.11/index.js"></script>
    <!-- vue的ajax依赖-->
    <script src="${STATIC_URL}assets/vue-2.5.21/axios.min.js"></script>
    <!--阿里巴巴矢量图标库--项目完成后请下载css并下载css引用的字体文件-->
    <link href="http://at.alicdn.com/t/font_997278_ptr5bdmor4j.css" rel="stylesheet">
    <style>
        .add_project_info {
            width: 70%;
            padding-left: 15%;
        }

        .table, .table tr th, .table tr td {
            border: 1px solid #000000;
        }

        .table {
            width: 100%;
            min-height: 25px;
            border-collapse: collapse;
        }

        .add_accessories {
            width: 70%;
            padding-left: 15%;
        }
    </style>
</head>
<body>
<div id="vue">
    <h2>项目查看</h2>
    <el-input v-model="query_form.project_name" style="width:50%;margin-bottom: 20px;">

    </el-input>
    <el-button @click="get_my_apply_project">查询</el-button>
    <el-table :data="project_table" border style="width: 100%">
        <el-table-column prop="project_name" label="项目名称" width="400">
            <template slot-scope="scope">
                <a :href="'${SITE_URL}detail_project_html/?project_id='+scope.row.project_id">{{ scope.row.project_name }}</a>
            </template>
        </el-table-column>
        <el-table-column prop="project_status" label="审批状态" width="180">
            <template slot-scope="scope">
                <span v-if="scope.row.project_status===0">未提交</span>
                <span v-if="scope.row.project_status===1">已提交</span>
                <span v-if="scope.row.project_status===2">审批中</span>
                <span v-if="scope.row.project_status===3">审批通过</span>
                <span v-if="scope.row.project_status===3">审批驳回</span>
            </template>
        </el-table-column>
        <el-table-column prop="project_time" label="申请时间" width="200">
        </el-table-column>
        <el-table-column prop="apply_user_name" label="申请人" width="200">
        </el-table-column>
        <el-table-column label="附件" >
            <template slot-scope="scope">
                <el-button-group v-for="(i,index) in scope.row.accessories_list" :key="index">
                    <a style="text-decoration:none" :href="'${SITE_URL}download_static/?accessories_url='+i.accessories_url+'&accessories_name='+i.accessories_name">
                        附件{{index+1}}:{{ i.accessories_name }}&nbsp;<br></a>
                </el-button-group>
            </template>
            </template>
        </el-table-column>



    </el-table>
    <div style="float: right">
        <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="1"
                            :page-sizes="[2, 4, 6,8,10]"
                            :page-size="page_size"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="count">
                    </el-pagination>
    </div>

</div>

<script>
    let vm = new Vue({
        el: '#vue',
        data: {
            project_table: [],
            query_form:{
                project_name:'',
                page:1,
                page_size:2,
            },
            page: 1,
            page_size: 2,
            page_count:2,
            count:1,
            project_name:'',
        },
        methods: {
            async get_my_apply_project() {
                vm.query_form.page = vm.page;
                vm.query_form.page_size = vm.page_size;
                let res =await axios({
                    url: '/get_project_by_project_name/',
                    method:'post',
                    data:vm.query_form
                });
                    if (res.data.code === 0) {
                        for (let i = 0; i < res.data.results.length; i++) {
                            /***let temp = vm.get_accessories(res.data.results[i].project_id);
                             console.log(temp)
                             console.log(vm.accessories_list);***/
                            let resp=await axios({
                                url: '/get_accessories_list_project_id/?project_id=' + res.data.results[i].project_id,
                            });
                                if (resp.data.code === 0) {
                                    res.data.results[i].accessories_list = resp.data.results;
                                }

                        }
                        //分页
                        if (res.data.results.length >= 1){
                            vm.page = res.data.results[0].page;
                            vm.page_count = res.data.results[0].page_count;
                            vm.count = res.data.results[0].count;
                            vm.notices_list = res.data.results;
                        }
                        vm.project_table = res.data.results;
                        console.log(vm.project_table)
                    } else {
                        vm.$message(res.data.message);
                    }

            },
            //打开附件
            open_url(value, accessories_name) {
                window.location.href = '${SITE_URL}download_static/?accessories_url=' + value + '&' + 'accessories_name=' + accessories_name
            },
            //设置page_size
            handleSizeChange(val) {
                console.log(val);
                vm.page_size= val;
                vm.get_my_apply_project();
            },
            //设置page
            handleCurrentChange(val) {
                console.log(val);
                vm.page = val;
                vm.get_my_apply_project();
            }

        }
    });
    vm.get_my_apply_project();
</script>
</body>
</html>